* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(33, 40, 42);
  width: 100vw;
  height: 100vh;

}

.containerApp {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 90vh;
  
  margin: auto;
}
