* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: transparent;
}

.inputContainer {
    display: flex;

    width: 100%;
    height: 35px;

    background: rgb(125, 165, 207);
    
    border-radius: 10px;
    
    overflow: hidden;
}

.inputField {
    width: 90%;

    padding: 0 15px;
    color: white;
}

.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField::placeholder {
    color: white;
    padding-left: 3px;
}

.inputField::placeholder::after {
    content: 'Pesquisa...';
    color: white;
    padding-left: 3px;
}

.inputButton {
    width: 10%;
    
    background-color: rgb(118, 212, 225);
    color: white;
    
    cursor: pointer;

    transition: .5s ease;
}

.inputButton:hover {
    width: 10%;
    background-color: transparent;
}
